body {
  background-color: #1a1a1a;
}

h2, h4 {
  text-align: center;
  color: white;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.about, .portdiv, .ed {
  background-color: gray;
  text-align: center;
  border: 2px solid white;
}

.port {
  padding-bottom: 50px
}

p {
  font-size: 20px;
  color: white;
  font-family: 'Cabin', sans-serif;
}

img {
  height: 300px;
  width: 600px;
}
