body {
  background-color: #1a1a1a;
}

h2, h4 {
  text-align: center;
  color: white;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.header {
  margin-bottom: 115px;
  margin-top: 115px;
  padding-top: 100px;
  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  border-radius: 10px;
  /*http://lea.verou.me/css3patterns/#starry-night*/
}

.about, .portdiv, .ed {
  background-color: gray;
  text-align: center;
  border: 2px solid white;
}

.port {
  padding-bottom: 50px
}

p {
  font-size: 20px;
  color: white;
  font-family: 'Cabin', sans-serif;
}

img {
  height: 300px;
  width: 600px;
}
